*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
nav {
    background-color: #D7DDE5;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background-color: #18283B;
}
.logo {
    color: white;
    font-size: 22px;
}
ul {
    list-style: none;
    z-index: 15;

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #8291A5;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all 0.3s ease;
}
ul li a:hover,
ul li a.active {
    color: white;
    background-color: #0075FF;
}

#icon {
    background-color: #0075FF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#icon svg{
    color: white;
    height: 28px;
}

#icon:hover {
    background: white;
}

#icon:hover svg{
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;

}

@media screen and (max-width: 800px) {
    nav{
        border-bottom: 1px solid #455468;
    }
    ul {
        position: absolute;
        width: 100%;
        height: 32vh;
        background-color: #18283B;
        left: 0;
        top: -100%;
        text-align: center;
        
        margin-top: 71px;
        border-radius: 5px;
        transition: .7s ease-out;
    }

    ul li{
        display: block;
        padding: 10px 15px;
        z-index: 15;

    }
    ul li a{
        display: block;
        padding: 10px 0;
    }
    #icon {
        display: block;

    }
    #checkbox:checked~ul {
        display: block;
        top: 0;

    }

}

#parent {
    position: relative;
}
nav{

}
body{
   
    background-color: #B0E0E6;
    background:linear-gradient(to right,#B0E0E6,#B0E0E6);
      
 }
.container{
    background:#fff;
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin:0 2rem;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
.btn{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.9s;
}
.btn:hover{
    background:#07001f;
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:underline;
    color:blue;
}